<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.app1"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>PhoneGap  Hola Mundo</name>

  <description>
     mi primer aplicacion con phone gap
  </description>

  <author href="" email="jioc396@gmail.com">
      ismael osuna
  </author>

</widget>
